In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import h5py

C:\Users\Gerso\Anaconda2\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
f = h5py.File('simulation SXSBBH1375.h5', 'r')
df = pd.DataFrame()

In [3]:
for x in f.values():
    dset = f[x.name].items()
    data = pd.DataFrame(dset)
    data = data.drop([38,61,64,1]).sort_values(0)
    data.reset_index(drop = True, inplace = True)
    names = data[0]
    list = data[1]
    for index, l in enumerate(list):
        arr = np.zeros((19979,3), dtype='float64')
        l.read_direct(arr)
        list[index] = pd.DataFrame(arr).drop(0,axis=1).rename(index=str, columns={1: 'coluna_1', 2: 'coluna_2'})
    data = data.rename(index=str, columns={1: x.name})
    df[x.name] = data[x.name]

In [4]:
describe = df.copy()
for i in range(0,len(describe.columns)):
    for j in range(0,len(describe[df.columns[i]])):
        describe[df.columns[i]][j] = describe[df.columns[i]][j].describe().rename(
            index={
                'std': 'Desvio Padrão',
                'mean': 'Média',
                'count': 'Quantidade',
                'min': 'Mínimo',
                'max': 'Máximo',
                '50%': 'Mediana'
            })

In [5]:
info_1 = pd.DataFrame()
info_2 = pd.DataFrame()
for a in describe[describe.columns[0]][0].index:
    info_1[a] = 0
    info_2[a] = 0

In [6]:
for i in range(0,len(describe.columns)):
    for j in range(0,len(describe[df.columns[i]])):
        d_1 = pd.DataFrame(describe[describe.columns[i]][j]['coluna_1'])
        d_1 = d_1.transpose()
        d_1.reset_index(drop = True, inplace = True)
        info_1 = info_1.append(d_1,ignore_index=True)
        
for i in range(0,len(describe.columns)):
    for j in range(0,len(describe[df.columns[i]])):
        d_2 = pd.DataFrame(describe[describe.columns[i]][j]['coluna_2'])
        d_2 = d_2.transpose()
        d_2.reset_index(drop = True, inplace = True)
        info_2 = info_2.append(d_2,ignore_index=True)

In [11]:
csv1 = pd.DataFrame()
csv1['Mínimo'] = info_1.min()
csv1['Máximo'] = info_1.max()
print "Coluna 1"
csv1

Coluna 1

                     Mínimo        Máximo
Quantidade     1.997900e+04  19979.000000
Média         -2.524502e-04      0.003928
Desvio Padrão  1.096542e-07      0.038805
Mínimo        -1.230267e-01     -0.000003
25%           -3.247064e-02      0.000232
Mediana       -1.514998e-04      0.004053
75%           -2.976262e-08      0.032062
Máximo         1.785580e-06      0.133332

In [12]:
csv2 = pd.DataFrame()
csv2['Mínimo'] = info_2.min()
csv2['Máximo'] = info_2.max()
print "Coluna 2"
csv2

Coluna 2

                     Mínimo        Máximo
Quantidade     1.997900e+04  1.997900e+04
Média         -2.400330e-04  2.400090e-04
Desvio Padrão  1.337923e-07  3.880210e-02
Mínimo        -1.360112e-01 -3.631336e-06
25%           -3.238906e-02  3.354190e-09
Mediana       -1.813169e-04  1.821262e-04
75%           -1.361991e-06  3.238686e-02
Máximo         3.381590e-06  1.359994e-01